<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-principal">
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <!-- Botones -->  
  <ion-button class="btn-1" expand="full" [routerLink]="['/five-page']">Volver atras</ion-button>
  <ion-button class="btn-2" expand="full" [routerLink]="['/second-page']">Pagina principal</ion-button>
 <!--Lissta de los alumnos-->
  <ion-list>
    <ion-card *ngFor= "let user of users">
      
      <!--cuerpo de la tarjeta-->
      <ion-card-content>
        <ion-item>
          <!-- para agregar imagenes -->
          <ion-thumbnail slot="start">
            <img [src]="user.picture.thumbnail" alt="{{ user.name.first }}">
          </ion-thumbnail>
          <ion-label>
            <ion-card-title>{{ user.name.first }} {{ user.name.last }}</ion-card-title>
            <p>Email: {{ user.email }}</p>
            <p>Telefono: {{ user.phone }}</p>
          </ion-label>
        </ion-item>
          <ion-item>
            <ion-checkbox class="check-ausente"
                          labelPlacement="start" 
                          justify="start"
                          [(ngModel)]="user.estaAusente"
                          (ionChange)="marcarAsistencia(user, 'ausente')">Ausente
            </ion-checkbox>
            <ion-checkbox class="check-presente"
                          labelPlacement="start"
                          justify="end"
                          [(ngModel)]="user.estaPresente"
                          (ionChange)="marcarAsistencia(user, 'presente')">Presente
            </ion-checkbox>
          </ion-item>
      </ion-card-content>
    </ion-card>
    <!-- Al hacer click que muestre mensaje de asistencia correcta-->
    <ion-button  class="btn-final" expand="full" (click)="tomarAsistencia()">Guardar Asistencia</ion-button>

  </ion-list>

</ion-content>
